.App {
  text-align: center;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}
h1 {
  color: #ffffff;
  text-shadow: 0px 2px 4px rgba(100, 97, 89, 0.329);
  font-size: 2.5rem;
  margin: 1rem 0 0 0;
}
h2, p {
  color: #ffffff;
}
.buttons {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.evalButtons {
  margin: 0.5rem 0.5rem;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
div {
  cursor: auto!important;
}
button {
  margin: 1rem 0;
  line-height: 2rem;
  border-radius: 0.25rem;
  font-size: 1rem;
  font-weight: 900!important;
  color: #596475;
  background-color: #ffffff;
  border:none !important;
  outline:none !important;
  text-align: center;
  padding: 0 1rem;
}
button:hover{
  background-color: #373e49;
  color: #ffffff;
  text-decoration: none!important;
  cursor: pointer;
}
button:focus{
  background-color: #373e49!important;
  border: none!important;
  outline: none!important;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@media only screen and (max-width: 600px) {
  h1 {
    font-size: 2rem;
  }
  .buttons {
      flex-direction: column;
  }
}